body {
    margin: 0;
}

* {
    box-sizing: border-box;
    scroll-behavior: smooth;
  }

.header {
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    height: 80px;
    position: fixed;
    z-index: 1;
    width: 100%;
    border-bottom: 5px solid white;
}

.header h1 {
  margin-top: -500px;
  transition: 0.5s;
  animation-name: LogoSlide;
  animation-duration: 1s;
  animation-delay: 0.1s;
  animation-fill-mode: forwards;
  cursor: pointer;
  
}

@keyframes LogoSlide {
    from {
      margin-top: -500px;
    }
    to {
      margin-top: 0;
    }
  }

.header span {
    color: blue;
}

.header h1:hover {
    color: rgb(27, 27, 177);
    transform: scale(1.01);
}

.header h1:hover span {
    color: black;
    transition: 0.5s;
}

.links a {
    text-decoration: none;
    color: black;
    margin: 0 10px;
}

@media screen and (max-width: 800px) {
    .logo-max {
        display: none;
    }
}

@media screen and (min-width: 800px) {
    .logo-mobil {
        display: none;
    }
}

#main-mp4-section {
    width: 100%;
    position: absolute;
    
}

#main-mp4-section video {
    width: 100%;
    height: calc(100vh - 80px);
    margin-top: 80px;
    object-fit: cover;
    
}

.text-over-video {
    position: absolute;
    width: 100%;
    height: calc(100vh - 50px);
    margin-top: 50px;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 0;
}

.text-over-video h1 {
    color: black;
    font-size: 50px;
}

#about-box-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.box-card-info {
    width: 300px;
    height: 60vh;
    background-color: wheat;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    margin: 30px;
    margin-left: 50px;
    border-radius: 20px;
    transition: all 0.5s ease 0s;
    overflow: auto;
}

.box-card-info:hover {
    transform: scale(1.01);
    cursor: pointer;
}

.box-card-info p {
    padding: 20px;
}

.box-wrap {
    width: 100%;
    background-color: rgb(248, 162, 3);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.box-wrap i {
    font-size: 40px;
    color: black;
}




footer {
    background-color: rgb(207, 46, 46);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 0px;
}

#form-section form {
        background-color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        border-radius: 10px;
        width: 90%;
        
        padding: 20px;

}
#form-section form input, 
#form-section form textarea {
  border-radius: 10px;
  padding: 10px;
  margin: 10px 0;
  border: 2px solid #acacac;
  font-size: 15px;
}

#form-section form input:focus,
#form-section form textarea:focus {
    outline: none;
    box-shadow: 0px 0px 10px black;
}


#form-section form button {
    align-self: flex-end;
    background-color: transparent;
    color:black;
    border: 2px solid black;
    border-radius: 10px;
    padding: 5px 20px;
    cursor: pointer;
    transition: 0.5s;
}

#form-section form button:hover {
    background-color: black;
    color: gold;
}

.social-icons {
    display: flex;
    justify-content: center;
    align-items: center;   
}

.social-icons i {
    margin: 10px;
    font-size: 50px;
    padding: 10px;
    transition: 0.5s;
}

.social-icons i:hover {
    color: gold;
    cursor: pointer;
    transform: scale(1.05);
}



#contact-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.h-class{
    font-size: 50px;
}

#contact-wrapper span {
    color:gold;
}

.info-contact-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px 0px;
}

.adress-section {

}